extends ./layout/index
block contenido
    main.container.mt-5 
        .row 
          .col-md-5
               img(src="img/nosotros.jpg", alt="nosotros_imagen", class="img-fluid")
          .col-md-7
              h1 #{pagina}
              blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum labore veniam dolore excepturi quos maxime numquam iusto voluptatum consectetur quasi, eaque, quibusdam reprehenderit eum officia dolores est. Animi, ratione veniam!

              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia non qui voluptatum magni ex sunt ipsa, cupiditate nam inventore nemo, quis reiciendis eos asperiores unde pariatur labore nesciunt blanditiis.

              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid dignissimos qui nisi consequuntur aspernatur similique autem, id deleniti laboriosam, corrupti error at magni odit mollitia cum omnis nulla? Amet, modi.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nostrum praesentium laborum totam. Ullam sequi distinctio qui pariatur obcaecati neque ducimus.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nostrum praesentium laborum totam. Ullam sequi distinctio qui pariatur obcaecati neque ducimus. 

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nostrum praesentium laborum totam. Ullam sequi distinctio qui pariatur obcaecati neque ducimus.     